*{
    margin: 0px;
    font-family: 'Inter', sans-serif;   
}
#menuSuperior{
    background-color: #303030;
    margin-top: 1;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
#tituloMenuSuperior{
    padding-top: 150px;
    margin-left: 50px;
    padding-top: 150;
    color: #FFFFFF;

}
#textoMenuSuperior{
    margin-left: 50px;
    color: #FFFFFF;
    padding-bottom: 100px;
}

#menuInformacional{
    background-color: #FFFFFF;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.menu-item h1 {
    align-items: center;
    gap: 8px;
    font-size: 20px;
    max-width: 1024px;
    font-weight: "bold";
}
.menu-item p{
    align-items: center;
    gap: 8px;
    font-size: 10px;
}

#secaoTextoImage{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  #secaoTextoImage h1{
    font-size: 25px;
    padding: 20px;
}
#secaoTextoImage p{
    font-size: 15px;
    padding: 20px;
}
img{
    width: 510;
height: 605;
top: 781px;
left: 876px;
border-radius: 30px;
}


#formulario {
    text-align: center;
    display: grid;
    justify-content: center;
    background: #303030;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

#tituloformulario {
    font-size: 25px;
    margin-top: 25px;
    color: #FFFFFF;
}


form {
    display: grid;
    justify-content: center; 
}

input{
    width: 100%;
    width: 400px;
    max-width: 400px;
}
input {
    height: 30px;
    background-color: #FFFFFF;
    margin: 15px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    background: #C07212;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    color: #FFFFFF;
    border: 1px solid transparent;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px 0;
    margin-bottom: 100px;
}

button:hover {
    background-color: #C07212;
    color: white;
    transform: translateY(-3px); 
    box-shadow: 0px 10px 15px rgba(5, 16, 48, 0.5);
    transition-duration: 0.3s;
}
