*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
}

#logo{
    margin-left: 50px;
    margin-top: 50px;
}
#tituloMenuSuperior{
    margin-left: 150px;
    margin-top: 50px;
}
#textoMenuSuperior{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}
#menuSuperior{
    background-image: url(/imagem/fundoMenuSuperior.svg);
    color: aliceblue;
}
#menuInformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}
#menuInformacional p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    
  }
  #secaoVideo{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;

  }

#video{
    color: #247BA0;
}
#carrocel{
    background-color: #247BA0;
    padding: 50px;
}
#tituloCarrocel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#divCards{
    display: grid;
    margin-top: 25px;
    grid-auto-flow: column;
    align-items: center;
}

.card{
    margin-left: 40px;
}

#Bruna{
    display: none;
}
#setaEsquerda:hover, #setaDireita:hover {
    cursor: pointer;
    opacity: 0.7; 
    transform: scale(1.2); 
    transition: all 0.3s ease;
}
#formulario {
    text-align: center;
    display: grid;
    justify-content: center;
}

#tituloformulario {
    font-size: 25px;
    margin-top: 25px;
    color: #383838;
}

form {
    display: grid;
    justify-content: center; 
}

input, button{
    width: 100%;
    width: 400px;
    max-width: 400px;
}
input {
    height: 30px;
    background-color: #EAECE5;
    margin: 15px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    background: #247BA0;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    color: #EAECE5;
    border: 1px solid transparent;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px 0;
    
}

button:hover {
    background-color: #247BA0;
    color: white;
    transform: translateY(-3px); 
    box-shadow: 0px 10px 15px rgba(5, 16, 48, 0.5);
    transition-duration: 0.3s;
}
